{% extends 'base.html' %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Добавление записи блога</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-auto align-items-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Подтвердить</button>
                {% if form.errors %}
                    <p>
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                    </p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}